* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

header {
    background: url(./images/mastehead.jpg) no-repeat center / cover;
    height: 900px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: center;
    padding: 5px 0 0 5px;
}

nav h1 {
    padding-left: 5px;
    font-family: 'Lobster', Arial;
    font-size: 22px;
}

nav img {
    width: 30px;
}

.header_container-title {
    height: 500px;
    padding-left: 500px;
}

.header_container-title h2 {
    font-size: 50px;
    font-weight: 100;
}

.header_container-title p {
    width: 400px;
    font-size: 13px;
    padding-top: 10px;
}

#intro {
    margin: 0 auto;
    width: 60%;
}

#intro .intro-img {
    position: relative;
    height: 100px;
}

#intro .intro-img img {
    position: absolute;
    width: 600px;
    right: 0px;
    bottom:-70px;
}

#intro .intro_text {
    display: flex;
    justify-content: space-between;
}

#intro h3, #details h3, #reasons-to-get-onboard h3, #purchase .h3 {
    font-family: Lobster, Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#intro .intro_text p {
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-size: 14px;
    color: #8a8282;
    width: 700px;
}

#intro .intro_text .second_p {
    padding-top: 50px;
    padding-left: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    color: #8a8282;
    width: 700px;
}

#table {
    margin: 0 auto;
    width: 60%;
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

#table .table_red {
    background-color: #f4979f;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_purple {
    background-color: #605f7f;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_picture1 {
    background: url(./images/box-bg.jpg) center / cover;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_picture2 {
    background: url(./images/box-bg-lg.jpg) center / cover;
    width: 66%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_green {
    background-color: #80bf96;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table a {
    font-weight: 800;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 40px;
}

#table h4 {
    font-size: 30px;
    color: white;
    font-family: Lobster, Arial;
}

#table p {
    color: white;
    font-size: 14px;
    padding-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#details {
    margin: 0 auto;
    width: 60%;
    padding-top: 50px;
}

#details .details {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#details .web-based, .performance, .cultural, .sustainability {
    padding: 15px 15px 50px 0;
}

#details h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #8a8282;
}

#details p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8a8282;
    padding-top: 20px;
    line-height: 20px;
}

#more-power {
    background: url(./images/full-image.jpg) no-repeat center / cover;
    height: 900px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.more-power {
    height: 500px;
    padding-left: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.more-power h2 {
    font-size: 50px;
    font-weight: 100;
}

.more-power p {
    width: 400px;
    font-size: 13px;
    padding-top: 10px;
}

#more-power a {
    font-weight: 800;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 170px;
}

#reasons-to-get-onboard {
    background-color: #80bf96;
    height: 430px;
    color: white;
}

/* Je n'arrive pas à flexer mon texte vis-à-vis de mon background? */

#reasons-to-get-onboard .reasons-to-get-onboard {
    margin: 0 auto;
    width: 60%;
    padding-top:100px;
    padding-bottom: 100px;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text {
    padding-top: 50px;
    display: flex;
    justify-content: space-around;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text h5, .Web-based2 h5, .Team-login h5, .Web-Support h5 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: white;;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text p, .Web-based2 p, .Team-login p, .Web-Support p {
    padding: 15px 30px 0 0;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: justify;
    padding-top: 20px;
    line-height: 20px;
}

#purchase .purchase {
    margin: 0 auto;
    width: 60%;
    height: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#purchase .purchase {
    display: flex;
    justify-content: space-between;
}

#purchase .purchase .team-plan {
    box-shadow: 0 0 15px black;
    border-radius: 10px;
}

.button-mostpopular {
    background-color: tomato;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: monospace; /* à changer */
    text-transform: uppercase;
    font-weight: 600;
    width: 100px;
    text-align: center;
}

.button-legacy {
    background-color: gray;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: monospace; /* à changer */
    text-transform: uppercase;
    font-weight: 600;
    width: 80px;
    text-align: center;
}

.button-buy-now {
    background-color: green;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: monospace; /* à changer */
    text-transform: uppercase;
    font-weight: 600;
    width: 100px;
    text-align: center;
}

#purchase p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #8a8282;
    line-height: 20px;
}

.solo-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px 0 30px;
}

.team-plan { /*POURQUOI CA MARCHE PAS ?*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px 0 30px;
}

.logos img {
    width: 40px;
    padding-left: 5px;
    fill: grey;
}
