* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
}

@font-face {
    font-family: "Open Sans";
    src: url(./assets/fonts/OpenSans-Regular.ttf);
}

@font-face {
    font-family: "Open Sans Bold";
    src: url(./assets/fonts/OpenSans-Bold.ttf);
}

@font-face {
    font-family: "Open Sans Italic";
    src: url(./assets/fonts/OpenSans-Italic.ttf);
}

@font-face {
    font-family: "Open Sans Light";
    src: url(./assets/fonts/OpenSans-Light.ttf);
}

@font-face {
    font-family: "Open Sans SemiBold";
    src: url(./assets/fonts/OpenSans-SemiBold.ttf);
}

p {
    font-family: "Open Sans";
    font-size: 12px; 
    line-height: 20px;
}

a { 
    text-decoration: none;
}

header {
    background: url(./images/mastehead.jpg) no-repeat center / cover;
    height: 950px;
    color: white;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index:10;
    width: 100%;
    padding: 5px 0 5px 5px;
    background-color: rgba(0, 0, 0, 0.397);
    border-bottom: 3px solid #80bf96;
}

.logo_name {
    display: flex;
}

nav h1 {
    padding-left: 5px;
    font-family: "Open Sans Italic";
    font-size: 22px;
}

nav img {
    width: 30px;
}

nav .anchor a {
    font-family: "Open Sans SemiBold";
    color: white;
    padding: 0 20px 0 20px;
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes colorlink {
    100% {
        color: #80bf96;
    }
}

nav .anchor a:hover {
    animation: colorlink 1s forwards;
}

.header_container-title {
    height: 100px;
    padding-top: 450px;
    padding-left: 390px;
}

.header_container-title h2 {
    font-size: 60px;
    font-weight: 100;
    font-family: "Open Sans";
}

.header_container-title p {
    width: 500px;
    padding-top: 10px;
    font-family: "Open Sans";
}

#intro, #table, #details, #reasons-to-get-onboard .reasons-to-get-onboard, #purchase .purchase, .footer {
    margin: 0 auto;
    width: 60%;
}

#intro .intro-img {
    position: relative;
    height: 100px;
}

#intro .intro-img img {
    position: absolute;
    width: 715px;
    right: -150px;
    bottom:-150px;
}

#intro .intro_text {
    display: flex;
    justify-content: space-between;
}

#intro h3, #details h3, #reasons-to-get-onboard h3 {
    font-family: "Open Sans Light";
    font-size: 30px;
}

#intro .intro_text p {
    padding-top: 20px;
    font-size: 13px;
    padding-right: 20px;
    color: #8a8282;
    width: 50%;
}

#intro .intro_text .second_p {
    padding-top: 150px;
    padding-left: 20px;
    font-size: 13px;
    color: #8a8282;
    width: 50%;
}

#table {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

#table .table_red {
    background-color: #f4979f;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_purple {
    background-color: #605f7f;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_picture1 {
    background: url(./images/box-bg.jpg) center / cover;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_picture2 {
    background: url(./images/box-bg-lg.jpg) center / cover;
    width: 66%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table .table_green {
    background-color: #80bf96;
    width: 33%;
    height: 250px;
    padding: 40px;
    position: relative;
}

#table a {
    font-weight: 800;
    font-family: "Open Sans SemiBold";
    color: white;
    position: absolute;
    bottom: 45px;
}

#table h4 {
    font-size: 30px;
    color: white;
    font-family: "Open Sans Light";
}

#table p {
    color: white;
    padding-top: 10px;
}

#details {
    padding-top: 100px;
}

#details .details {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#details .web-based, .performance, .cultural, .sustainability {
    padding: 20px 15px 150px 10px;
}

#details h5 {
    font-family: "Open Sans SemiBold";
    font-size: 13px;
    font-weight: 600;
    color: #8a8282;
}

#details p {
    color: #8a8282;
    font-size: 13px;
    padding-top: 20px;
}

#more-power {
    background: url(./images/full-image.jpg) no-repeat center / cover;
    height: 880px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.more-power {
    height: 400px;
    padding-left: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.more-power h2 {
    font-size: 60px;
    font-family: "Open Sans";
    font-weight: 100;
}

.more-power p {
    width: 400px;
    padding-top: 10px;
}

#more-power a {
    font-weight: 800;
    font-family: "Open Sans Bold";
    color: white;
    position: absolute;
    bottom: 190px;
}

#reasons-to-get-onboard {
    background-color: #80bf96;
    height: 570px;
    color: white;
}

#reasons-to-get-onboard .reasons-to-get-onboard {
    padding-top:100px;
    padding-bottom: 100px;
}

#reasons-to-get-onboard h3 {
    padding-top: 20px;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text {
    padding-top: 60px;
    display: flex;
    justify-content: space-around;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text h5, .Web-based2 h5, .Team-login h5, .Web-Support h5 {
    font-family: "Open Sans";
    font-size: 13px;
    font-weight: 600;
    color: white;;
}

#reasons-to-get-onboard .reasons-to-get-onboard-text p, .Web-based2 p, .Team-login p, .Web-Support p {
    padding: 15px 30px 0 0;
    font-size: 13px;
    color: white;
    padding-top: 20px;
}

#purchase .purchase {
    height: 400px;
    margin-top: 100px;
    margin-bottom: 100px;
}

#purchase .purchase {
    display: flex;
    justify-content: space-between;
}

#purchase .purchase .team-plan {
    box-shadow: 0 0 15px black;
    border-radius: 10px;
}

.button-mostpopular {
    background-color: #605f7f;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: "Open Sans SemiBold";
    text-transform: uppercase;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

.button-legacy {
    background-color: rgb(197, 193, 193);
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: "Open Sans SemiBold";
    text-transform: uppercase;
    font-weight: 600;
    width: 80px;
    text-align: center;
}

.button-buy-now {
    background-color: #80bf96;
    border-radius: 5px;
    padding: 10px;
    color: white;
    font-size: 12px;
    font-family: "Open Sans SemiBold";
    text-transform: uppercase;
    font-weight: 600;
    width: 120px;
    text-align: center;
}

#purchase .h3 {
    font-family: "Open Sans SemiBold";
    font-size: 30px;
}

#purchase p {
    color: #8a8282;
}

.solo-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px 0 30px;
}

.team-plan {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 30px 0 30px;
}

.logos {
    display: flex;
}

.logos svg { 
    width: 40px;
    padding-left: 5px;
    fill: grey;
}

footer {
    background: rgb(34, 34, 71);
    height: 600px;
}

.footer {
    color: white;
    display: flex;
    flex-wrap: wrap;
    padding-top: 100px;
}

.Get-in-touch, .Stay-in-touch, .Links {
    width: 50%;
    padding-bottom: 50px;
}

.Stay-in-touch {
    padding-left: 50px;
}

.Links {
    display: flex;
    justify-content: space-between;
}

.Resources, .How-to, .Resources-2 {
    display: flex;
    flex-direction: column;
}

h6 {
    font-family: "Open Sans";
    font-size: 12px;
    color: white;
    padding-bottom: 10px;
}

.footer p, footer a {
    font-family: "Open Sans";
    font-size: 12px;
    color: white;;
    line-height: 20px;
}

.Stay-in-touch p {
    color: rgb(129, 129, 129);
    padding-top: 5px;
}

input {
    width: 90%;
    height: 45px;
    border-radius: 5px;
}

button {
    width: 9%;
    height: 45px;
    background-color: rgb(188, 202, 164);
    color: white;
}